@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);


/* Tipografia */

/* Parrafo que son los RAEE - texto de contenido */
/* Seccion de RAEE y Procedimientos */

body {    
  padding-top: 60px;
  background: #fff;               
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black; 
  line-height: 26px;
  font-size: 20px;  /* parrafo reciclaje */
}

#top-header .imagen{
    
    text-align: left;
    
}

#top-header .anexo{
    color: #ffA500;
    text-align: right;
    float:left;
    font-size: 11px;
}

/*  Subtitulos de los textos grupo 1 y 2  */
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #ffA500; 
  font-size: 25px;
}

/* parrafos 1 2 y derechos */
p {
    font-size: 20px; /**/
    line-height: 24px;
    font-weight: 300;
}


a {
  color: red/* #333333      #72C05B          #000000                      ¿?¿?¿?¿?   */                   
  -webkit-transitionactive color 400ms, background-color 400ms; /*transition: color*/
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}


a:hover,
a:focus {
  text-decoration: none;
  color: #fff;
}


hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}



.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}


.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}


.section-header {
  margin-bottom: 50px;
}

/* Proceso de reciclaje */

.section-header .section-title {
  margin-bottom: 15px;
  display: block;
  clear: both;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  font-weight: 400;
  color: #800080; 
  text-transform: uppercase;

}

/* Estos desechos pueden ser */

.section-header p {
  display: block;
  clear: both;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  font-weight: 300;
  color: #ffA500;   
}


.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 0px;
}


.btn.btn-primary {
  background: #72C05B;
  border-color: #72C05B;
}


.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #72C05B;
}


.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}


.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #72C05B;
}


ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}


ul.nostyle i {
  color: #72C05B;
}


.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}


@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
    
    
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}





@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}



/* Header */

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}

/* Logo de Green W ¿?  4 */

.navbar-header .navbar-brand {    
  padding:6px 0;
}
.navbar-header .navbar-brand a {
  height: auto;
  display: inline-block;
 
}
#top-header {
  padding: 10px 0;
}


/*                  REVISAR                        */

@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }


  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li.hover > a {
    background: #90EE90;                /*      transparent        */
  } 
    
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: #0000ff;   /*      rgba(26, 28, 40, 0.9)         */
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
    
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
    
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #90EE90;                  /*           #404455               */
    padding: 15px 0;
    color: #90EE90; /*#000000*/
  }
    
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #72C05B;
  }
    
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #72C05B;
    background-color: transparent;
  }
}

#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/*  Sub texto slider   AGRANDAR TAMAÑO DE LETRA */

#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: red; 
  -webkit-text-stroke: 0.2px red;
}

/* Letras de los slider */

#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: green;   
  -webkit-text-stroke: 1px yellow;
}

/*  Letras slider - subrayados */

#main-slider .slider-inner h2 > span {
  color: #FF0000;              
}

#main-slider .slider-inner .btn {
  margin-top: 10px;
}




#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

/* Boton de cambios */

#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #ffA500; 
}



#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
/* Barra de progreso */
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #ffA500;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}
#cta h2 {
  margin-top: 0;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #90EE90;       
  background-size: cover;
  color: #fff;
  padding: 70px 0;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #72C05B;
}
#cta2 p {
    color: #fff;
}




/* Feature */

/* Tema fondo - composicion de los RAEE */

#features {
  padding: 100px 0;
  background: #999999;    
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
  text-align: center;
}


/* Services */

#services .features-item {
    margin: 25px 0;
}
#services .features-item .features-icon i {
  font-size: 40px;
  text-align: center;
}
#services .features-item:hover .features-icon i , #services .features-item:hover h3 {
  color: #72C05B ;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

/* Subtitulos procesos de reciclaje */

#services .features-item h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 25px;
    color: darkblue;            
    margin: 16px 0 15px; 
    text-align: center;
}

.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  color: #72C05B;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
  display: block;
  line-height: 60px;
  font-size: 18px;
  transform: translateZ(0px);
}

.media.service-box:hover .pull-left > i {

}



/* Testimonio */
/* Fondo */
#testimonial {
  background: #333333;  
  padding: 100px 0;
  color: #fff;
  text-align: center;
}
/* Nombre */
#testimonial h4 {
  color: red;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial p {
  font-style: italic;
  font-size: 30px;
  line-height: 30px;
}
#testimonial .img-thumbnail {
  background: transparent;
}
#testimonial #carousel-testimonial .btns {
    margin-top: 30px;
}
#testimonial #carousel-testimonial .btns a {
  margin:0 2px;
}

/* About us */

#about {
  padding: 100px 0;
}


.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffA500; /* #eeeeee */
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* Footer */

/* Derechos reservados */

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: black;  
}



#footer a {
  color: #0000ff;                
}


#footer a:hover {
  color: #72C05B;
}


#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}


#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}



@media only screen and (min-width: 768px) {
  #footer .social-icons {
    font-size: 20px;
  }
}


.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}
